<!doctype html>
<html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body style="background:#f9f9f9">
        
        <div class="container" style="padding-top:48px">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                            <form method="post" action="/email/announcement" class="boxed boxed--lg boxed--border">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="fromemail" placeholder="Your Email" />
                                    <br />
                                    <input type="text" class="form-control" name="fromname" placeholder="From Name" />
                                    <br />
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" />
                                    <br />
                                    <textarea name="content" class="form-control" placeholder="content"></textarea>
                                    <br /><br />
                                    <select class="form-control" name="mode">
                                        <option value="test">Test</option>
                                        <option value="live">Live</option>
                                    </select>
                                    <br /><br />
                                    <input type="text" class="form-control" name="emails" placeholder="Recipients" />
                                    <br />
                                    <br /><br />
                                    <button type="submit" class="btn btn--primary type--uppercase">Send Emails</button>
                                </div>
                                <div class="col-xs-12">
                                    <span class="type--fine-print">By signing up, you agree to the
                                        <a href="#">Terms of Service</a>
                                    </span>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </section>

            {{>footer}}
        </div>


        <script type="text/javascript" src="/dist/js/vendor.min.js"></script>
    </body>
</html>